{{ define "main"}}

<!-- {{jsonify .Site.Params }} -->
<!-- {{$mainScss:=.Site.Params.scss}}
{{ $style := resources.Get $mainScss | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{.Site.Params.CDN.main_scss}} -->
{{end}}
